<div class="card" style="width: 26rem; padding:0px">
  <%= image_tag asset_path(article.img_loc), class:"card-img-top" unless article.img_loc.nil? %>
  <div class="product-item card
  -body container">
    <div class="row" style="padding: 0px">
      <div class="col-sm-7 d-flex align-items-center">
        <h5>
          <a href="#">Title goes here</a>
        </h5>
      </div>
      <div
        class="col-sm-5 d-flex align-items-center"
        style="text-align:right; font-weight: 800; font-size: 16px; color: #121212; padding-right:0px">
        <%= number_to_currency( article.price, :precision => 0, :unit => "CFA " ) %>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-sm-12 d-flex align-items-center">
        <h5 class="card-text"><%= sanitize( article.description ) %></h5>
      </div>
    </div>
    <br><br>
    <div class="row down-content" style="padding: 0px">
      <div class="col-sm-7 d-flex align-items-center" style="text-align:left">
        <ul class="stars">
          <li><i class="fa fa-star"></i></li>
          <li><i class="fa fa-star"></i></li>
          <li><i class="fa fa-star"></i></li>
          <li><i class="fa fa-star"></i></li>
          <li><i class="fa fa-star"></i></li>
        </ul>
      </div>
      <div class="col-sm-5 d-flex align-items-center" style="text-align:right; color: red; vertical-align: center; font-size: 14px; padding-right:0px">
        
           Reviews (12)
        
      </div>
    </div>
  </div>
</div>
