<p style="color: green"><%= notice %></p>

<h1>Articles</h1>

<table class="table table-dark table-hover">
  <tbody>
    <% @articles.each do |article| %>
      <tr onclick="location.href='<%= article_url(article) %>'" style="cursor: pointer">
        <%= render article %>
      </tr>
    <% end %>
  </tbody>
  
</table>

<%= link_to "New article", new_article_path %>
